@use 'base' as *;

* {
    border: 1px dashed red;
}

// Generate all the colors in css so we can use them
:root {
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }
}

body { 
    font-family: $font-family;
    font-size: $font-size-large;
    background-color: $background-yellow;

    h1 {
        font-size: $font-size-large;
    }

    p {
        font-size: $font-size-small;
    }

     a {
        font-size: $font-size-small;
    }
}

.container {
    margin: 0 auto;
    max-width: $max-width;
}

.row {
    margin: 0;
    display: flex;
    gap: $gap;

    @include mq(small) {
        display: block;
    }
}

.nav {
    color: var(--clr-primary-500);

    ul {
       list-style: none;
       display: flex;
    }
}

.hero {
    display: flex;
    min-height: 611px;
    
    align-items: center;
    background-image: url('./img/hero-background.webp');
}

.info {
    max-width: 45%;
    text-align: center;
    padding: 0.7em;
    justify-content: left;

    &__black {
        background-color: $background-black;
        color: white;
    }

    &__yellow {
        background-color: $background-yellow;
    }
}

.news {
    display: grid;
    grid-template-columns: 23.4em 23.4em;
    margin-top: 1em;
    grid-gap: 1em;


    &__item {
        background-color: $background-grey;
        color: white;
        border-radius: 5px;
        padding: 20px;
    }
}

.footer{
    margin-top: 1em;

    &__links {
        justify-content: center;
    }

}