:root {
	/* Fonts */

	/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1500,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

	--step--2: clamp(0.7813rem, 0.7753rem + 0.0263vw, 0.8rem);
	--step--1: clamp(0.9375rem, 0.9178rem + 0.0877vw, 1rem);
	--step-0: clamp(1.125rem, 1.0855rem + 0.1754vw, 1.25rem);
	--step-1: clamp(1.35rem, 1.2829rem + 0.2982vw, 1.5625rem);
	--step-2: clamp(1.62rem, 1.5148rem + 0.4675vw, 1.9531rem);
	--step-3: clamp(1.944rem, 1.7869rem + 0.6981vw, 2.4414rem);
	--step-4: clamp(2.3328rem, 2.1058rem + 1.0091vw, 3.0518rem);
	--step-5: clamp(2.7994rem, 2.4787rem + 1.425vw, 3.8147rem);

	/* Spacing */

	/* @link https://utopia.fyi/space/calculator?c=360,18,1.2,1500,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

	--space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
	--space-2xs: clamp(0.5625rem, 0.5428rem + 0.0877vw, 0.625rem);
	--space-xs: clamp(0.875rem, 0.8553rem + 0.0877vw, 0.9375rem);
	--space-s: clamp(1.125rem, 1.0855rem + 0.1754vw, 1.25rem);
	--space-m: clamp(1.6875rem, 1.6283rem + 0.2632vw, 1.875rem);
	--space-l: clamp(2.25rem, 2.1711rem + 0.3509vw, 2.5rem);
	--space-xl: clamp(3.375rem, 3.2566rem + 0.5263vw, 3.75rem);
	--space-2xl: clamp(4.5rem, 4.3421rem + 0.7018vw, 5rem);
	--space-3xl: clamp(6.75rem, 6.5132rem + 1.0526vw, 7.5rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.3125rem, 0.2138rem + 0.4386vw, 0.625rem);
	--space-2xs-xs: clamp(0.5625rem, 0.4441rem + 0.5263vw, 0.9375rem);
	--space-xs-s: clamp(0.875rem, 0.7566rem + 0.5263vw, 1.25rem);
	--space-s-m: clamp(1.125rem, 0.8882rem + 1.0526vw, 1.875rem);
	--space-m-l: clamp(1.6875rem, 1.4309rem + 1.1404vw, 2.5rem);
	--space-l-xl: clamp(2.25rem, 1.7763rem + 2.1053vw, 3.75rem);
	--space-xl-2xl: clamp(3.375rem, 2.8618rem + 2.2807vw, 5rem);
	--space-2xl-3xl: clamp(4.5rem, 3.5526rem + 4.2105vw, 7.5rem);

	/* Custom pairs */
	--space-s-l: clamp(1.125rem, 0.6908rem + 1.9298vw, 2.5rem);

	/* Grid */

	/* @link https://utopia.fyi/grid/calculator?c=360,18,1.2,1500,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

	--grid-max-width: 77.5rem;
	--grid-gutter: var(--space-s-l, clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem));
	--grid-columns: 12;
}

.u-container {
	max-width: var(--grid-max-width);
	padding-inline: var(--grid-gutter);
	margin-inline: auto;
}

.u-grid {
	display: grid;
	gap: var(--grid-gutter);
}