@use 'base' as *;


body { 
    font-size: $font-size;
}

.nav {
    color: $yellow-main;

    ul {
       list-style: none;
       display: flex;
    }
}

.card {
    &__title {
        font-weight: 200;
    }

   @include mq(small) {
        padding: 2em;
    }
}

:root {
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }
}